<h2>Search</h2>
<%= render 'static_pages/search_box' %>


<h2>Categories</h2>
<ul>
  <% Category.all.each do |category| %>
    <li>
      <%= link_to category.name, 
        contractors_path(category: CGI.escape(category.name)) %>
    </li>
  <% end %>
</ul>


<h2>Contractors</h2>
<ul>
  <% for contractor in Contractor.all %>
    <li><%= link_to contractor.name, contractor_path(contractor) %></li>
  <% end %>
</ul>
